/* Reset and base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.11),
      rgba(0, 0, 0, 0.11)
    ),
    url("public/kartak-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  line-height: 1.5;
}

/* Utility classes */
.min-h-screen {
  min-height: 100vh;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(28, 28, 31, 0.067);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.rounded-xl {
  border-radius: 0.75rem;
}

.backdrop-blur-md {
  backdrop-filter: blur(12px);
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-zinc-800 {
  border-color: rgb(39, 39, 42);
}

.max-w-md {
  max-width: 28rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.space-y-6 > * + * {
  margin-top: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.logo {
  width: 100px;
  object-fit: contain;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-bold {
  font-weight: 700;
}

.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-3 {
  gap: 0.75rem;
}

.bg-zinc-800 {
  background-color: rgb(39, 39, 42);
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.action-btn {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.action-btn:hover {
  background-color: rgb(63, 63, 70);
  transform: scale(1.1);
}

.pt-6 {
  padding-top: 1.5rem;
}

.border-t {
  border-top-width: 1px;
}

.border-zinc-700 {
  border-color: rgb(63, 63, 70);
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.space-y-3 > * + * {
  margin-top: 0.75rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

.kartak {
  color: #e6b537;
  font-weight: bold;
}

a i {
  color: #e6b537;
  font-size: 1.5rem;
}
.content {
  border-top: 1px solid rgba(255, 255, 255, 0.253);
}
/* Responsive design */
@media (min-width: 640px) {
  .sm\:flex-row {
    flex-direction: row;
  }
}
