@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.11),
      rgba(0, 0, 0, 0.11)
    ),
    url("../public/kartak-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  width: 100px;
}
p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}
.kartak {
  color: #e6b537;
  font-weight: bold;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #1c1c1f11;
}
a svg {
  color: #e6b537;
  font-size: 1.5rem;
}
a {
  transition: all 0.3s ease-in-out;
}
a:hover {
  transform: scale(1.1);
}
